/* メディアクエリ  */
@media screen and (max-width: 600px) {
  .container {
    width: 95%;
    margin: 0 auto;
    text-align: center;
  }

  /* ヘッダー */
  .headerList {
    display: none;
  }

  /* ハンバーガー */
  .spHamburger {
    display: block;
    position: relative;
    /*ボタン内側の基点となるためrelativeを指定*/
    background: #e6e6e6;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 5px;
  }

  /*ボタン内側*/
  .spHamburger span {
    display: inline-block;
    transition: all 0.4s;
    /*アニメーションの設定*/
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    background: #fff;
    width: 45%;
  }

  .spHamburger span:nth-of-type(1) {
    top: 15px;
  }

  .spHamburger span:nth-of-type(2) {
    top: 23px;
  }

  .spHamburger span:nth-of-type(3) {
    top: 31px;
  }

  /* ファーストコンテンツ */
  .topTitle {
    top: calc(50% - 50px);
    left: calc(50% - 120px);
    transform: none;
  }

  .topTitle h2,
  .mainTitle h2 {
    font-size: 60px;
  }

  .topTitle p,
  .mainTitle p {
    font-size: 28px;
  }

  .sentence {
    width: auto;
  }

  /* スタイルメニュー */
  .style-bc {
    height: 2300px;
  }

  .r-styleList {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 55px;
  }

  .l-styleList {
    display: flex;
    flex-direction: column-reverse;
  }

  .r-styleList p,
  .l-styleList p {
    font-size: 1.2rem;
    line-height: 1.8;
  }

  .styleList__right img {
    width: 100%;
  }

  .styleList__left h3 {
    text-align: center;
    font-size: 50px;
  }

  .styleList__left h3::before {
    right: calc(50% - 57px);
    width: 115px;
  }

  .styleList__left h3::after {
    right: calc(50% - 57px);
    width: 115px;
  }

  /* 縦長アイテム */
  .itemContents {
    display: block;
    padding-bottom: 60px;
  }

  .itemList {
    margin-bottom: 45px;
  }

  .itemList h3 {
    padding-top: 15px;
    font-size: 1.5rem;
  }

  .pc-item {
    display: none;
  }

  .sp-item {
    display: block;
  }

  .sp-item{
    width: 90%;
    margin: 0 auto;
  }

  .itemList img.sp-item {
    width: 90%;
    height: auto;
    margin: 0 auto;
  }

  /* メニュー */
  .menusLists {
    flex-direction: column;
  }

  .memuList__left,
  .memuList__right {
    width: 80%;
    margin: 0 auto;
  }

  /* ニュース */
  .newsContents {
    display: block;
  }

  .newsList {
    width: 100%;
  }

  .newsList img {
    width: 100%;
  }

  /* フッター  */
  .footerInfo {
    position: relative;
    padding-bottom: 220px;
  }

  .footerImg {
    position: absolute;
    bottom: 0;
    top: auto;
  }

  .footerImg img {
    width: 100%;
  }
}
