/* メディアクエリ  */

/* タブレット用 */
@media screen and (max-width: 1024px) {
  .container {
    width: 98%;
    margin: 0 auto;
  }

  .topTitle {
    left: calc(50% - 300px);
    transform: none;
  }

}


/* スマホ用 */
@media screen and (max-width: 600px) {
  .container {
    width: 95%;
    margin: 0 auto;
    text-align: center;
  }

  /* ヘッダー */
  .headerList {
    display: none;
    z-index: 5;
  }

  /* ハンバーガー */
  .sp-menu {
    display: block;
    margin-right: 5px;
}

.nav_toggle {
    display: block;
    position: relative;
    width: 1.75rem;
    height: 1.5rem;
    z-index: 260;
    margin-top: 10px;
  }
  .nav_toggle i {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #333;
    position: absolute;
    transition: transform .5s, opacity .5s;
  }
  .nav_toggle i:nth-child(1) {
    top: 0;
  }
  .nav_toggle i:nth-child(2) {
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .nav_toggle i:nth-child(3) {
    bottom: 0;
  }

  .nav_toggle.show i:nth-child(1) {
    transform: translateY(10px) rotate(-45deg);
  }
  .nav_toggle.show i:nth-child(2) {
    opacity: 0;
  }
  .nav_toggle.show i:nth-child(3) {
    transform: translateY(-12px) rotate(45deg);
  }

  .nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .5s;
  }

  .nav.show {
    opacity: 1;
    z-index: 250;
    visibility: visible;
    background-color: #fff;
    width: 100%;
    margin-left: auto;
    opacity: 0.95;
  }

  .nav_menu_li {
      margin: 50px auto 0 auto;
      border-bottom: 1px solid #D2D2D2;
      width: 75%;

  }

  .nav_menu_li a::after {
    content: "";
    display: block;
    width: 15px;
    height: 2px;
    background: #2D7638;
    margin: 7px auto;
  }

  /* ファーストコンテンツ */
  .topTitle {
    top: calc(50% - 50px);
    left: calc(50% - 120px);
    transform: none;

  }

  .topTitle h2,
  .mainTitle h2 {
    font-size: 32px;
  }

  .topTitle p,
  .mainTitle p {
    font-size: 28px;
  }

  .sentence {
    width: auto;
  }

  /* スタイルメニュー */
  .style-bc {
    height: 2300px;
    overflow: hidden;
  }

  .r-styleList {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 55px;
  }

  .l-styleList {
    display: flex;
    flex-direction: column-reverse;
  }

  .r-styleList p,
  .l-styleList p {
    font-size: 1.2rem;
    line-height: 1.8;
  }

  .styleList__right img {
    width: 100%;
    height: auto;
  }

  .styleList__left h3 {
    text-align: center;
    font-size: 50px;
  }

  .styleList__left h3::before {
    right: calc(50% - 57px);
    width: 115px;
  }

  .styleList__left h3::after {
    right: calc(50% - 57px);
    width: 115px;
  }

  /* 背景文字 */
  .styleMenu-back {
    font-size: 40px;
    letter-spacing: 13px;
  }

  /* 縦長アイテム */
  .itemContents {
    display: block;
    padding-bottom: 60px;
  }

  .itemList {
    margin-bottom: 45px;
  }

  .itemList h3 {
    padding-top: 15px;
    font-size: 1.5rem;
  }

  .pc-item {
    display: none;
  }

  .sp-item,
  .sp-menu {
    display: block;
  }

  .sp-item{
    width: 90%;
    margin: 0 auto;
  }

  .itemList img.sp-item {
    width: 90%;
    height: 150px;
    margin: 0 auto;
  }

  /* メニュー */
  .menusLists {
    flex-direction: column;
  }

  .memuList__left,
  .memuList__right {
    width: 80%;
    margin: 0 auto;
  }

  /* ニュース */
  .newsContents {
    display: block;
  }

  .newsList {
    width: 100%;

    margin-bottom: 50px;
  }

  .newsList,
  .newsData {
    text-align: left;
  }

  .newsList img {
    width: 100%;
  }


  .snsLink {
    display: block;
  }

  .insta,
  .blog {
    width: 80%;
    margin: 0 auto;
  }

.blog {
  margin: 30px auto;
}

  /* フッター  */
  .footerInfo {
    position: relative;
    padding-bottom: 220px;
  }

  .footerImg {
    position: absolute;
    bottom: 0;
    top: auto;
  }

  .footerImg img {
    width: 100%;
  }
}
