@charset "UTF-8";

.container {
    max-width: 1024px;
    margin: 0 auto;
}

body {
    text-align: justify;
}

/* メディアクエリ  */
@media screen and (max-width: 600px) {
    .container {
        width: 95%;
        margin: 0 auto;
        text-align: center;
    }
}

/* ヘッダー */
.topHeader {
    display: flex;
    justify-content: space-between;
}

.headerList ul {
    display: flex;
    line-height: 3;
}

.headerList li {
    margin-left: 40px;
}

.spHamburger {
    display: none;
}

@media screen and (max-width: 600px) {
    .headerList {
        display: none;
    }

    /* ハンバーガー */
    .spHamburger {
        display: block;
        position: relative;
        /*ボタン内側の基点となるためrelativeを指定*/
        background: #e6e6e6;
        cursor: pointer;
        width: 50px;
        height: 50px;
        border-radius: 5px;
    }

    /*ボタン内側*/
    .spHamburger span {
        display: inline-block;
        transition: all .4s;
        /*アニメーションの設定*/
        position: absolute;
        left: 14px;
        height: 3px;
        border-radius: 2px;
        background: #fff;
        width: 45%;
    }

    .spHamburger span:nth-of-type(1) {
        top: 15px;
    }

    .spHamburger span:nth-of-type(2) {
        top: 23px;
    }

    .spHamburger span:nth-of-type(3) {
        top: 31px;
    }
}

/* ファーストビュー */
.fv {
    max-width: 100%;
    height: 90vh;
    background-image: url(https://placehold.jp/2000x700.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.topTittle {
    text-align: center;
    position: absolute;
    display: inline-block;
    top: calc(50% - 74px);
    left: calc(50% - 180px);
}

.topTittle p,
.mainTittle p {
    font-size: 40px;
}

.topTittle h2,
.mainTittle h2 {
    font-size: 90px;
}

/* ファーストコンテンツ */
.firstContet {
    margin: 100px 0;
    text-align: center;
}

.sentence {
    width: 490px;
    margin: 0 auto;
}

.firstContet p:last-child {
    letter-spacing: 2px;
    line-height: 1.5;
    font-size: 18px;
    margin-top: 20px;
}

@media screen and (max-width: 600px) {

    .topTittle {
        top: calc(50% - 50px);
        left: calc(50% - 120px);
    }

    .topTittle h2,
    .mainTittle h2 {
        font-size: 60px;
    }

    .topTittle p,
    .mainTittle p {
        font-size: 28px;
    }

    .sentence {
        width: auto;
    }
}

/* スタイルメニュー */
.style-bc {
    background-color: #E6E6E6;
    height: 1700px;
}

.catchCopy {
    width: 100%;
    font-size: 65px;
    white-space: nowrap;
    overflow: hidden;
}

.catchCopy h2 {
    padding-top: 20px;
}

.styleMenu {
    margin-bottom: 10px;
}

.r-styleList {
    display: flex;
    float: right;
    margin-top: 60px;
}

.l-styleList {
    clear: both;
    display: flex;
    padding-top: 60px;
    flex-direction: row-reverse;
    float: left;
}


.styleList {
    margin-top: 60px;
}

.styleList__left {
    margin: 0 20px;
}


.styleList__left h3 {
    text-align: right;
    font-size: 30px;
    position: relative;
    padding: 5px 0;
    margin: 20px 0;
}

.styleList__left h3::before {
    content: "";
    display: block;
    width: 70px;
    height: 2px;
    background-color: #333;
    position: absolute;
    top: 0;
    right: 0;
}

.styleList__left h3::after {
    content: "";
    display: block;
    width: 70px;
    height: 2px;
    background-color: #333;
    position: absolute;
    bottom: 0;
    right: 0;
}

/* メディアクエリ */
@media screen and (max-width: 600px) {

    .style-bc {
        height: 1930px;
    }

    .r-styleList {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 55px;
    }

    .l-styleList {
        display: flex;
        flex-direction: column-reverse;
    }

    .r-styleList p, .l-styleList p {
        font-size: 1.2rem;
        line-height: 1.8;
    }

    .styleList__right img {
        width: 100%;
    }

    .styleList__left h3 {
        text-align: center;
        font-size: 50px;
    }

    .styleList__left h3::before {
        right: calc(50% - 57px);
        width: 115px;
    }

    .styleList__left h3::after {
        right: calc(50% - 57px);
        width: 115px;
    }
}

/* スクロール */
.scroll {
    margin: 40px 0;
    overflow: hidden;
}

.scroll:last-child {
    margin-bottom: 60px;
}

.scroll ul {
    position: relative;
    white-space: nowrap;
    transform: translate3d(0, 0, 0);
}

.scroll li {
    display: inline-block;
    padding: 0 10px;
}

/* 縦長アイテム */

.bc-contents {
    background-color: #E6E6E6;
}

.itemHeading {
    font-size: 60px;
    margin-bottom: 20px;
    padding-top: 70px;
}

.itemContents {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.pc-item {
    display: block;
}

.sp-item {
    display: none;
}

/* メディアクエリ  */
@media screen and (max-width: 600px) {
    .itemContents {
        display: block;
        padding-bottom: 60px;
    }

    .itemList {
        margin-bottom: 45px;
    }

    .itemList h3 {
        padding-top: 15px;
        font-size: 1.5rem;
    }

    .pc-item {
        display: none;
    }

    .sp-item {
        display: block;
    }

    .sp-item {
        width: 90%;
        margin: 0 auto;
    }
}

/* メニュー */
.menus {
    max-width: 800px;
    margin: 0 auto 100px auto;
    padding-bottom: 60px;
}

.menus h3,
.news h3 {
    text-align: center;
    font-size: 48px;
}

.menusLists {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.memuList__left,
.memuList__right {
    width: 40%;
}

.memuList__left h4,
.memuList__right h4 {
    font-size: 22px;
    text-align: center;
}

.memuList__left dl,
.memuList__right dl {
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
    border-bottom: 1px solid #333;
}

.memuList__left dt,
.memuList__right dt {
    padding-left: 15px;
}

.memuList__left dd,
.memuList__right dd {
    padding-right: 15px;
}

.menuA {
    text-align: center;
    padding: 40px;
}

.menuA a {
    border: 1px solid #333;
    padding: 10px 80px;
}

@media screen and (max-width: 600px) {
    .menusLists {
        flex-direction: column;
        
    }

    .memuList__left,
    .memuList__right {
        width: 80%;
        margin: 0 auto;
    }
}

/* ニュース */
.news {
    margin-bottom: 100px;
}

.newsContents {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.newsList {
    width: 30%;
}

.newsList h4 {
    text-align: center;
    font-size: 24px;
    margin: 10px 0;
}

.newsData {
    font-size: .85rem;
    margin-top: 10px;
}

.snsLink {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.insta,
.blog {
    border: 1px solid #333;
    padding: 10px 0;
    margin: 0px 30px;
    width: 35%;
    text-align: center;
}

.insta a,
.blog a {
    display: block;
}

/* メディアクエリ */
@media screen and (max-width: 600px) {
    .newsContents {
        display: block;
    }

    .newsList {
        width: 100%;
    }

    .newsList img {
        width: 100%;
    }
}

/* グーグルマップ */
.googleMap {
    position: relative;
    width: 100%;
    margin-bottom: 50px;
}

.googleMap iframe {
    top: 0;
    left: 0;
    width: 100%;
}

/* フッター  */
.footer {
    position: relative;
}

.footerInfo ul {
    display: flex;
}

.footerInfo li {
    list-style: none;
    font-size: 28px;
}

.footerInfo p {
    font-size: 28px;
    margin: 30px 0;
}

.footerInfo p:first-child {
    margin-bottom: 50px;
}

.footerImg {
    position: absolute;
    top: 0;
    right: 0;
}

/* メディアクエリ  */
@media screen and (max-width: 600px) {
    .footerInfo {
        position: relative;
        padding-bottom: 220px;
    }

    .footerImg {
        position: absolute;
        bottom: 0;
        top: auto;
    }

    .footerImg img {
        width: 100%;
    }

}