
@charset "UTF-8";



/* ヘッダー */
.topHeader {
    display: flex;
    justify-content: space-between;
}

.headerFixed {
    position: fixed;
    width: 100vw;
    z-index: 300;
    background-color: var(--white);
    /* display: flex;
    justify-content: space-between; */
}

.headerLogo img {
    padding: 0 50px;
    height: 50px;
}

.headerList ul {
    display: flex;
    line-height: 3;
}

.headerList li {
    margin-left: 40px;
}

.sp-menu {
    display: none;
}

.spHamburger {
    display: none;
}

/* ファーストビュー */
.fv {
    max-width: 100%;
    height: 100vh;
    background-image: url(../images/first-view.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: -45px;
}

.topTitle {
    text-align: center;
    /* position: absolute; */
    position: sticky;
    z-index: 200;
    display: inline-block;
    top: calc(50% - 74px);
    left: 50%;
    transform: translateX(-50%);
}

.mainTitle {
    height: 2em;
}

.topTitle p,
.mainTitle p {
    font-size: 32px;
}

.topTitle h2,
.mainTitle h2 {
    font-size: 50px;
}

/* ファーストコンテンツ */
.firstContet {
    margin: 10px 0;
    padding-bottom: 100px;
    text-align: center;
}

.sentence {
    width: 490px;
    margin: 0 auto;
}

.firstContet p:last-child {
    letter-spacing: 2px;
    line-height: 1.5;
    font-size: 18px;
    margin-top: 20px;
}

.SecondContet {
    margin: 10px 0 100px;
    text-align: center;
}

/* スタイルメニュー */
.style-bc {
    background-color: var(--main-bg-color);
    height: 1700px;
}

.catchCopy {
    width: 100%;
    font-size: 65px;
    white-space: nowrap;
    overflow: hidden;
}

.catchCopy h2 {
    padding-top: 20px;
    animation: catchCopy 10s infinite linear;
}

@keyframes catchCopy {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-117vw);
    }
}

.styleMenu {
    margin-bottom: 10px;
    position: relative;
}

/* 背景文字 */

.fadeIn{
    animation-name: fadeInAnime;
    animation-duration:3s;
    animation-fill-mode:forwards;
    opacity:0;
    }
    
    @keyframes fadeInAnime{
      from {
        opacity: 0;
      }
    
      to {
        opacity: 1;
      }
    }
    
    /* スクロールをしたら出現する要素にはじめに透過0を指定　*/
    
    .fadeInTrigger{
        opacity: 0;
    }
    

.styleMenu-back {
    position: absolute;
    color: #fff;
    right: 0;
    top: 10px;
    font-size: 4rem;
    letter-spacing: 50px;
font-family: 'Homemade Apple', cursive;
}

.r-styleList,
.l-styleList {
    transform: rotate3d(1,1,0,90deg);
    transition: 0.5s;
}

.r-styleList.active,
.l-styleList.active {
    transform: none;
}

.r-styleList {
    display: flex;
    float: right;
    margin-top: 70px;
    position: relative;
}


.l-styleList {
    clear: both;
    display: flex;
    padding-top: 60px;
    flex-direction: row-reverse;
    float: left;
}

.styleList {
    margin-top: 60px;
}

.styleList__left {
    margin: 0 20px;
}


.styleList__left h3 {
    text-align: right;
    font-size: 30px;
    position: relative;
    padding: 5px 0;
    margin: 20px 0;
    color: var(--white);
}

.styleList__left h3::before {
    content: "";
    display: block;
    width: 70px;
    height: 2px;
    background-color: #333;
    position: absolute;
    top: 0;
    right: 0;
}

.styleList__left h3::after {
    content: "";
    display: block;
    width: 70px;
    height: 2px;
    background-color: #333;
    position: absolute;
    bottom: 0;
    right: 0;
}

.styleList__right {
    position: relative;
}

.styleList__right img {
    width: 500px;
    height: 300px;
}

.styleList__right img.decorationFont {
    position: absolute;
    width: 200px;
    height: auto;
    bottom: -20px;
    right: -10px;
}

.footerImg img {
    width: 450px;
    height: 280px;
}


/* スクロール */
.scroll {
    margin: 40px 0;
    overflow: hidden;
}

.scroll:last-child {
    margin-bottom: 60px;
}

@keyframes sliderLeft {
    0% {
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-51.5%);
    }
}

@keyframes sliderRight {
    0% {
        transform: translateX(-51.5%);
    }
    100%{
        transform: translateX(0%);
    }
}

.scroll ul {
    position: relative;
    white-space: nowrap;
    /* transform: translate3d(0, 0, 0); */
}

.scroll ul.left {
    /* transform: translateX(-51%); */
    animation: sliderLeft 30s infinite linear;
}

.scroll ul.right {
    animation: sliderRight 30s infinite linear;
        /* transform: translateX(-151.5%); */
}

.scroll li {
    display: inline-block;
    padding: 0 10px;
    width: 250px;
}

.scroll li img {
    display: block;
    margin: auto;
    height: 170px;
}

/* 縦長アイテム */

.bc-contents {
    background-color: var(--main-bg-color);
}

.itemHeading {
    font-size: 60px;
    margin-bottom: 20px;
    padding-top: 70px;
}

.itemContents {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.pc-item {
    display: block;
}

.sp-item,
.sp-menu {
    display: none;
}

.itemList {
    position: relative;
    overflow: hidden;
}

.itemList::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    transition: 0.5s;
    transform: translateX(1px);
}

.itemList.active::before {
    transform: translateX(375px);
}

.itemList img {
    width: 200px;
    height: 450px;
}


/* メニュー */
.menus {
    max-width: 800px;
    margin: 0 auto 100px auto;
    padding-bottom: 60px;
}

.menus h3,
.news h3 {
    text-align: center;
    font-size: 48px;
}

.menusLists {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.memuList__left,
.memuList__right {
    width: 40%;
}

.memuList__left h4,
.memuList__right h4 {
    font-size: 22px;
    text-align: center;
    color: var(--white);
    letter-spacing: 1em;
}

.memuList__left dl,
.memuList__right dl {
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
    border-bottom: 1px solid #333;
}

.memuList__left dt,
.memuList__right dt {
    padding-left: 15px;
}

.memuList__left dd,
.memuList__right dd {
    padding-right: 15px;
}

.menuA {
    text-align: center;
    padding: 40px;
}

.menuA a {
    /* border: 1px solid #333; */
    padding: 20px 110px;
    width: 35%;
}


/* ニュース */
.news {
    margin-bottom: 100px;
}

.newsContents {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.newsList {
    width: 30%;
}

.newsList {
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s;
}

.newsList.active {
    opacity: 1;
    transform: translateY(0);
}

.newsList h4 {
    text-align: center;
    font-size: 24px;
    margin: 10px 0;
}

.newsData {
    font-size: .85rem;
    margin-top: 10px;
}

.snsLink {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.insta,
.blog {
    /* border: 1px solid #333; */
    /* padding: 10px 0; */
    margin: 0px 30px;
    width: 35%;
    text-align: center;
}

.insta a,
.blog a {
    display: block;
}


/* グーグルマップ */
.googleMap {
    position: relative;
    width: 100%;
    margin-bottom: 50px;
}

.googleMap iframe {
    top: 0;
    left: 0;
    width: 100%;
    filter: grayscale(80%);
}

/* フッター  */
footer {
    font-size: 0.95em;
    padding-bottom: 100px;
}

.footer {
    position: relative;
}

.footer .indent {
    text-indent: 2em;
}

.footerInfo ul {
    display: flex;
}

.footerInfo li {
    list-style: none;
    /* font-size: 28px; */
}

.footerInfo p {
    /* font-size: 28px; */
    margin: 10px 0;
}

.footerInfo p:first-child {
    margin-bottom: 50px;
}

.footerImg {
    position: absolute;
    top: 0;
    right: 0;
}
